body {
    background-color:  #e6dd99;
}

.container {
    width: 400px;
    display: inline-block;
    background-color: white;
    padding: 10px;
    margin: 10px;
    vertical-align: top;
    border-radius: 15px;
}
#main {
    width: 900px;
    margin: 0 auto;
}
label {
    color: #880303;
}

#submit {
    border: none;
    margin: 0 auto;
    margin-top: 15px;
    display: block;
    padding: 10px 15px;
    background: #C7C4C4;
    border-radius: 5px;
    box-shadow: 2px 2px 4px grey;
}
#submit:hover {
    background: #20F108;
    box-shadow: 2px 2px 4px #108206;
}

form > div > input, form > div > span{
    float: right;

}

#phone_number {
    margin-top: 5px;
    margin-right: 31px;
} 

h1 {
    text-align: center;
    margin-top: 0px;
}

.log_out {
    position: absolute;
    top: 0;
    right: 0;

}

.sport_radio {
    display: inline-block;
}

#daily_activity th, #daily_activity td{
    border: 2px solid grey;
    padding: 5px;
}

#daily_activity {
    width: 100%;
}
