body {
    text-align: center;
    background-image: url("image_montagne.jpg");


}

#titre {
    font-size: 40px;
    color: rgb(94, 199, 90);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

p {
    font-size: 30px;;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


#propositions {
    font-size: 20px;
}

button {
    font-size: 20px;
    border-radius: 40%;
    padding: 20px 15px;
    border: none;
    background-color: #C6DBEC;
    cursor: pointer;
    margin-left: 20px;
}

button:hover {
    background-color: #4CAF50;
    color: white;
}

div {
    font-size: 20px;
    height: 50px;
    margin-top: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

#end_game {
    animation-duration: 3s;
    animation-name: slidein;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    font-weight: bold;
}

@keyframes slidein {
    from {
      margin-left: -100px;
    }
  
    to {
      margin-left: 100px;
    }
  }

  #result {
      margin-top: 0px;

  }