<form>
    <div>
        <label>Nom</label>
        <input type="text" id="last_name">
    </div>
    <div>
        <label>Prénom</label>
        <input type="text" id="first_name">
    </div>
    <button>VALIDER</button>
</form>
